#home{
    height: 100%;
}

#heading{
    height: 200px;
    width: 100%;
    margin-top: 100px;
    padding-left: 30%;
}

#headingLogo{
    float: left;
    background: linear-gradient(90deg, rgb(2, 218, 253) 10%, rgb(26, 146, 207) 77%, rgb(5, 135, 244) 93%);
    border-radius: 30px;
}

#headingLogo img{
    height: 275px;
    width: 275px;
}

#headingText{
    margin-left: 34%
}

#experience{
    font-family: Arial;
    color: white;
    font-size: 50pt;
}

#toLive{
    text-align: center;
    font-family: Arial;
    color: white;
    font-size: 10pt;
    width: 50%;
}

#textAndLink{
    height: 200px;
    width: 100%;
    margin-top: 150px;
    padding-left: 39%;
}

#textAndLink p {
    font-family: Arial;
    font-size: 18pt;
    color: white;
}

#downloadBox{
    background: linear-gradient(90deg, rgb(2, 218, 253) 10%, rgb(26, 146, 207) 77%, rgb(5, 135, 244) 93%);
    border-radius: 15px;
    height: 100px;
    width: 300px;
    margin-left: 9%;
}



#shareAndDiscover{
    padding-left: 24%;
    font-family: Arial;
    color: white;
}

#shareAndDiscoverHeading{
    font-size: 30pt;
}

#shareAndDiscoverText{
    width: 40%;
}


#showOff{
    padding-left: 24%;
    font-family: Arial;
    color: white;
}

#showOffHeading{
    font-size: 30pt;
}

#showOffText{
    width: 40%;
}



#crossPlatform{
    padding-left: 40%;
    font-family: Arial;
    color: white;
}

#crossPlatformHeading{
    font-size: 30pt;
}

#crossPlatformText{
    padding-left: 2%;
    font-size: 12pt;
}