#contact
{
    width: 100vw;
    height: 100vh;

    padding-left: 35rem;
    display:block;
    margin-top: 3%;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*text-align: center;*/
    /*font-family: 'Raleway', sans-serif;*/
    /*color: white;*/
}

#contactUsHeader{
    font-family: Arial;
    font-size: 35pt;
    font-weight: 800;
}

.logo{
    margin-top: -5vh;
    width: 55vw;
    animation:backInLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

#contact form{
    display: block;
}

.form-group{
    margin-bottom: .8rem;
}

#contact label{
    font-size: 14pt;
    font-weight: bolder;
}

#contact input{
    width: 35vw;
    height: 4vh;
    color: white;
    border:1px solid black;
    border-radius: 5px;
    background-color: #595959;
    display: block;
    margin-top: .2rem;
    padding-left: 1%;
}

#contact textarea {
    resize: none;
    width:35vw;
    height: 20vh;
    color: white;
    border:1px solid black;
    border-radius: 5px;
    background-color: #595959;
    display: block;
    margin-top: .5rem;
    padding-top: 1%;
    padding-left: 1%;
}

#contact button{
    height: 4vh;
    width: 7vw;
    font-size: 15pt;
    border-radius: 5px;
    border: none;
    color: white;
    background: linear-gradient(0deg, rgba(47,95,181,1) 0%, rgba(4,209,237,1) 100%);
}

#contact button:hover{
    cursor: pointer;
}

.contact-ctn {
    margin-top: 10vh;
    font-family: 'Raleway', sans-serif;
    animation:fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s; /* don't forget to set a duration! */
    color: whitesmoke;
}

.contact-head {
    font-size:2.5em;
}

.contact-text {
    font-size:1.5em;
}


