#About
{
    width: 100vw;
    height: 200vh;
    font-family: 'Raleway', sans-serif;
    background: url(../images/fullsizeoutput_1e73.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: whitesmoke;
}
