#About
{
    width: 100vw;
    height: 200vh;
    font-family: 'Raleway', sans-serif;
    background: url(../images/fullsizeoutput_1e73.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: whitesmoke;
}

#khan
{
    margin-top: 0vh;
    margin-left: -18vw;
}
.a-logo-ctn
{
    display: flex;
    justify-content: center;
}

.a-logo
{
    width: 20vw;
    margin-top: 8vh;
    margin-top: 10vh;
    margin-left: -10vw;
    animation:slideInDown; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}

.v-title{
    font-size:3em;
    margin-left: -10vw;
    animation:fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s; /* don't forget to set a duration! */
}

.values {
    width: 100vw;
    margin-left: 5vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.v-content-ctn
{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
    color: whitesmoke;
    padding: 15px;
    margin-top: 5vh;
    margin-left: 10vw;
    animation:fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s; /* don't forget to set a duration! */
}

.v-content-ctn-rv
{
    width: 70%;
    margin-left: -56vw;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    color: whitesmoke;
   
}


.v-infoo
{
    width: 30vw;
    font-size: 20px;
    margin-left: -20vw;
}

.v-cp-team
{
    width: 55vw;
}

.v-cp-team
{
    display: flex;
    margin-left:  15vw;
}

h2{
    margin-left: 7vw;
}
.v-icon{
    margin: 20px;
    margin-left: 15vw;
}


.v-reach-ctn
{
    width: 100vw;
    height: 40vh;
    margin-top: 40vh;
    text-align: center;
}

.v-btn{
color: whitesmoke;
}

.v-updated-btn
{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.v-btn{
    border: 2px solid var(--lotus-blue);
    width: 10vw;
    margin-top: 4vh;
    border-radius: 50px;
    padding: 1vh;
    transition: 1s;
}

.v-btn:hover
{
    background-color: var(--lotus-blue);
    width: 14vw;
}

.v-title{
    margin-top: -5vh;
}


@media only screen and (min-width: 320px) and (max-width: 374px){
    .v-cp-team
    {
       display: none;
    }

    .values{
        margin-left: -10vw;
    }

    .v-title{
        display: none;
    }

    .a-logo{
        visibility: hidden;
    }

    .v-content-ctn
{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
    color: whitesmoke;
    padding: 15px;
    margin-top: -5vh;
    margin-left: 25vh;
    animation:fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s; /* don't forget to set a duration! */
}


h2{
    margin-left: 0vw;
}
.v-infoo-head
{
    width: 40vw;
}
 }

@media only screen and (min-width: 375px) and (max-width: 767px){


    #About
{
    width: 100vw;
    height: 340vh;
    font-family: 'Raleway', sans-serif;
    background: url(../images/fullsizeoutput_1e73.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: whitesmoke;
}
.v-cp-team
{
   display: none;
}

.values{
    margin-left: -10vw;
}

.v-infoo-text
{
    font-size: 14px;
    line-height: 1.25em;
}

.v-title{
    display: none;
}

h2{
    margin-left: 0vw;
}
.a-logo{
    visibility: hidden;
}

.v-content-ctn
{
width: 70%;
display: flex;
justify-content: space-evenly;
flex-direction: row-reverse;
align-items: center;
color: whitesmoke;
padding: 15px;
margin-top: -5vh;
margin-left: 25vh;
animation:fadeIn; /* referring directly to the animation's @keyframe declaration */
animation-duration: 3s; /* don't forget to set a duration! */
}


.v-infoo-head
{
width: 40vw;
}

 }

@media only screen and (min-width: 768px) and (max-width: 991px){


    #About
{
    width: 100vw;
    height: 260vh;
    font-family: 'Raleway', sans-serif;
    background: url(../images/fullsizeoutput_1e73.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: whitesmoke;
}
.v-cp-team
{
   display: none;
}

.values{
    margin-left: -10vw;
}
.v-icon{
    display: none;
}

.v-infoo-text
{
    font-size: 14px;
    line-height: 1.25em;
}

h2{
    margin-left: 0vw;
}

.v-title{
    display: none;
}

.a-logo{
    visibility: hidden;
}

.v-content-ctn
{
width: 70%;
display: flex;
justify-content: space-evenly;
flex-direction: row-reverse;
align-items: center;
color: whitesmoke;
padding: 15px;
margin-top: 5vh;
margin-left: -6vh;
animation:fadeIn; /* referring directly to the animation's @keyframe declaration */
animation-duration: 3s; /* don't forget to set a duration! */
}


.v-content-ctn-rv
{
    width: 70%;
    margin-left: -7vw;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    color: whitesmoke;
   
}

.v-infoo-head
{
width: 40vw;
}
 }

@media only screen and (min-width: 992px){

    #About
    {
        width: 100vw;
        height: 350vh;
        font-family: 'Raleway', sans-serif;
        background: url(../images/fullsizeoutput_1e73.jpeg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color: whitesmoke;
    }

    .v-title{
        margin-top: 1px;
    }
 }