.App {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
  color: white;
  width: 100vw;
  height: 100vh;
}

a
{
  text-decoration: none;
  color: white;
}


html {
  overflow: scroll;
  overflow-x: hidden;
  font-family: Arial;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(63,63,63,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
}




/* Navigation styling  */
.navigation-header{
	width:100%;
  	animation: fadeIn; 
  	animation-duration: 2s;
  	text-transform: uppercase;
  	background: rgb(2,218,253);
	background: radial-gradient(circle, rgba(2,218,253,1) 25%, rgba(26,146,207,1) 57%, rgba(5,135,244,1) 83%);
}

#nav-flower{
  width: 80px;
  position: absolute;
  left: 0vw;
  margin-top: 5px;
}

#nav-logo{
  width: 15vw; 
}

#logoLink{
	position: absolute;
	right: 40vw;
}

.navBarLink{
	font-family: Arial;	
}

#contactLink{
	padding-right: 2%;
}

header ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* max-width: 1200px; */
  margin: 0 auto;
  margin-left: 16vw;
  height: 8vh;
  font-family:'AvenirLTW01-45BookObliq';
  padding: 0;
}

header ul li {
  list-style: none;
  position: relative;
  padding: 10px 10px;
  transition: 0.5s;
  box-sizing: border-box;
}

header ul li:last-child{
  border-right: none;
}

header ul li a {
  text-decoration: none;
  /* padding: 0px 20px; */
  color: #fff;
}

header ul li:hover  {
  background: rgba(47,95,181,0.5);
}

@media (max-width: 768px){
	.navBarLink{
		font-size: 5pt;
	}

	#nav-logo{
		width: 30vw;
	}

	#logoLink{
		right: 31vw;
	}

	header ul li{
		padding: 5px 5px;
	}
/*
	#nav-flower{
		width: 15vw;
		position: absolute;
		left: 2vw;
	}
	*/
}
