#Values {
    width: 100vw;
    height: 320vh;
    font-family: 'Raleway', sans-serif;
    color: #1a1a1a;
}

.v-title-ctn{
    margin-top: 20vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.v-info-head
{
    color: var(--lotus-green);
}


.ctn
{
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-left: 20vw;
    margin-top: 10vh;
}

.v-content-ctn
{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
    color: whitesmoke;
    padding: 15px;
    margin-top: -45vh;
    animation:fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s; /* don't forget to set a duration! */
}

.v-content-ctn-rv
{
    width: 70%;
    margin-left: -86vw;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    color: whitesmoke;
   
}

.v-board-ctn
{
    margin-top: 5vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.v-container{
    color: white;
    animation:zoomIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
}
.vb-title
{
    width: 50vw;
    margin-left: 10vw;
    font-size: 2em;
}

.va-reach
{
    margin-top: 80vh;
}

.v-title{
    font-size: 4em;
}

.v-title-text
{
    font-size: 1em;
}

.vb-title
{
    line-height: 2em;
}

@media only screen and (min-width: 320px) and (max-width: 374px){ 

    #Values {
        margin-top: 45vh;
        width: 100vw;
        height: 200vh;
        font-family: 'Raleway', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #1a1a1a;
    }
    
    .vb-title
    {
        line-height: 2em;
        margin-left: -1vw;
        font-size: 1em;
        text-align: center;
    }

    .v-title-text
{
    font-size: 0.8em;
}

.v-info-head
{
    font-size: 0.8em;
    width: 100vw;
}

.v-content-ctn
{
    margin-left: -3vh;
}
.v-cp
{
    display: none;
}
.v-info-text
{
    font-size: 0.8em;
    width: 70vw;
}
 }

@media only screen and (min-width: 375px) and (max-width: 767px){ 

    #Values {
        width: 100vw;
        height: 220vh;
        font-family: 'Raleway', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #1a1a1a;
    }

.v-container{
    margin-top: 32vh;
}


.v-content-ctn
{
    margin-left: -3vh;
}


.vb-title
{
    line-height: 2em;
    margin-left: -1vw;
    font-size: 1em;
    text-align: center;
}

.v-info-head
{
    font-size: 1.5em;
    width: 80vw;
}

.ctn{
    margin-left: 5vw;
}

.v-info-text
{
    font-size: 0.8em;
    width: 70vw;
}

.v-cp
{
    display: none;
}

 }

@media only screen and (min-width: 768px) and (max-width: 991px){ 

    
    #Values {
        width: 100vw;
        height: 340vh;
        font-family: 'Raleway', sans-serif;
        color: #1a1a1a;
    }
    
    .v-title-ctn{
        margin-top: 20vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .v-info-head
    {
        color: var(--lotus-green);
    }
    
    
    .ctn
    {
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin-left: 20vw;
        margin-top: 10vh;
    }
    
    
    
    .v-content-ctn-rv
    {
        width: 70%;
        margin-left: -86vw;
        padding: 15px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        margin:50px;
        color: whitesmoke;
       
    }
    

    .v-container{
        color: white;
        animation:zoomIn; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 2s; /* don't forget to set a duration! */
        margin-top: -52vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100vw;
    }
    .vb-title
    {
        width: 50vw;
        margin-left: 10vw;
        font-size: 1em;
    }
    
    .va-reach
    {
        margin-top: 80vh;
    }
    
    .v-title{
        font-size: 4em;
    }
    
    .v-title-text
    {
        font-size: 1em;
    }
    
    .vb-title
    {
        line-height: 2em;
    }

 }


 @media only screen and (min-width: 992px){ 



    .v-container{
        color: white;
        animation:zoomIn; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 2s; /* don't forget to set a duration! */
        margin-top: -32vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100vw;
    }
  }